/* ESTILOS DEL FOOTER DEL INDEX.HTML */

:root {
    --primary-color: #00A6E6;
    --dark-color: #333;
    --white-color: #fff;

}

footer {
    font-family: "roboto";
    font-weight: 400;
    background-color: #222429;
    color: rgba(250, 250, 250, 0.6);
}


#submit-create {
    position: absolute;
    top: 26.5px;
    right: 100px;
    height: 27px;
    width: 100px;
    margin-right: 90px;
    border: 1px solid rgb(90, 90, 90);
    background-color: rgb(69, 69, 139);
    color: white;
    border-radius: 10px;
    transition: 0s;
    box-shadow: 0 0 10px white;
    visibility: hidden;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    row-gap: 1.5rem;
    margin: 0 4rem;
}


#main-footer .text-footer {
    text-align: justify;
    margin: 7px 0;
}

#main-footer .title-footer {
    color: rgba(250, 250, 250, 0.7);
    font-size: 1.4rem;
}

#main-footer ul {
    padding-left: 0;
}


#main-footer .img-logo,
#main-footer img {
    width: 100px;
    margin: auto;
}


#main-footer .footer-container>*:last-child {
    grid-column: 1/ span 4;
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
}

#main-footer .footer-container .email {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: lighter;
    color: rgba(250, 250, 250, 0.7);
}

.list {
    list-style: none;
}

.list li {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: #555 dotted 1px;
}

.list li a {
    color: rgba(250, 250, 250, 0.6);
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: var(--dark-color);
    color: #fff;
    padding: 0.3rem 1.2rem;
}

.button-primary {
    background: var(--primary-color);
}

.py-2 {
    padding: 2rem 0 1.3rem;
}

@media(max-width:600px) {

    /* Stack grid items */
    #main-footer .footer-container {
        margin: auto;
        max-width: 1100px;
        padding: 0 2rem;
        overflow: hidden;
        grid-template-columns: 1fr;
    }

    #main-footer .img-logo {
        text-align: center;
    }

    #main-footer .footer-container> :nth-child(1) {
        border-bottom: 1px solid rgba(250, 250, 250, 0.3);
    }

    #main-footer .footer-container>*:last-child {
        grid-column: 1;
    }

    #main-footer .text-description {
        text-align: center;
    }
}









/* ESTILOS DEL FOOTER DEL SHOP.HTML */
/* 
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.parting-line {
    width: 100%;
    height: 1px;
    border-width: 0;
    background-color: rgba(250, 250, 250, 0.2);
}

.logo-footer {
    width: 30%;
    min-width: 150px;
    margin: 25px auto;
}

.info {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.info a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.info hr {
    border-width: 1px;
    height: 1.3rem;
    margin: auto 0;
}

.redes {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 10px;
}

.redes a{
    color: white;
    padding: 10px;
}

.legal-terms {
    width: 100%;
    margin: 20px 0;
}

.copyright {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    color: #5A5A5A;
}
 */