header {
    display: flex;
    background-color: #222429;
    width: 100%;
    justify-content: space-between;
}

header a {
    margin: auto 0;
}

.logo-header {
    width: 100px;
    /* margin: 10px; */
    padding: 10px;
}

.material-symbols-outlined {
    color: white;
    font-size: 4rem;
    margin: auto 10px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

@media (min-width: 769px) {
    .logo-footer {
        max-width: 250px;
    }

}