header{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #222429;
    font-family: 'roboto';
    padding: 5px 15px;
    height: 120px;
}
.link-header {
    color: rgba(250, 250, 250, 0.7);
    text-decoration: none;
    font-size: 1.3rem;
}
.logo-header-2-a{
    width: 100px;
    position: absolute;
    top: 10px;
    right: 15px;
}
.header-logo{
    width: 100px;
}
.detail-header{
    width: 40%;
}
.logo-header{
    width: 100px;
    position: absolute;
    left: 10px;
    top: 15px;
}
.link-header-detail-header{
    position: absolute;
    left: 130px;
    top: 45px;
    color: white;
}
#saludo{
    color: white;
    position: absolute;
    right: 150px;
    top: 45px;
}
#submit{
    position: absolute;
    top: 37px;
    right: 260px;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(90, 90, 90);
    background-color: white;
    color: black;
    border-radius: 10px;
}
button[type="submit"]{
    color: grey;
}
.icon-user{
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 20px;
    right: 40px;
}
.link-header-register-header{
    color: white;
    position: absolute;
    top: 40px;
    right: 130px;
    font-size: 1.3rem;
}
.link-header-login-header{
    color: white;
    position: absolute;
    top: 40px;
    right: 230px;
    font-size: 1.3rem;
}
@media (max-width: 600px) {
}