header{
    height: 170px;
}
#search-nav-bar {
    display: flex;
    /* background-color: rgb(18, 18, 18); */
    background-color: #222429;
    font-family: 'roboto';
    width: 400px;
    margin: 100px 30px 20px 30px;
}

.search-bar {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}
 #productsText {
    color: #fff;
 }
.search-bar .lupa,
.search-bar #search {
    color: #000;
    padding: 1rem 0.8rem;
    margin: auto 0;
    font-size: 1rem;
    font-weight: bold;
}

.search-bar #search,
.search-bar .btn-search {
    background-color: transparent;
    outline: none;
    border: none;
    outline: none;
}

.search-bar .btn-search {
    cursor: pointer;
}

.search-bar #search {
    padding-left: 0;
    padding-right: 10px;
    width: 90%;
    cursor: text;
}

.wishList, .cart,
.icon-wishList, .icon-cart {
    color: rgba(250, 250, 250, 0.7);
    text-decoration: none;
    cursor: pointer;
}

.wishList:hover, .cart:hover,
.icon-wishList:hover, .icon-cart:hover {
    color: #fff;
}

.wishList, .icon-wishList {
    margin-left: auto;
    min-width: 134px;
}

.cart, .icon-cart {
    margin-left: 1.5rem;
}

.icon-wishList, .icon-cart {
    display: none;
}

/* @media (max-width: 600px) {
    .icon-wishList, .icon-cart {
        display: block;
        min-width: auto;
    }
    .wishList, .cart {
        display: none;
    }
    
} */
@media (min-width: 640px) {
    #search-nav-bar {
        display: flex;
        /* background-color: rgb(18, 18, 18); */
        background-color: #222429;
        font-family: 'roboto';
        width: 400px;
        margin: 30px 0 50px 110px;
    }
    
    .search-bar {
        display: flex;
        background-color: #fff;
        border-radius: 5px;
        width: 100%;
    }
    header{
        height: 120px;
    }
}