<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/stylesCreateProduct.css" />
</head>

<body>
  <%- include('../partials/header') %>
    %>

    <!-- <main>
      <div class="container-form">
        <form
          action="/products/create"
          method="POST"
          class="form"
          enctype="multipart/form-data" -->
    <!--            <input type="text" name="name-product" id="name-product" class="controls" placeholder="Nombre del Juego"
                minlength="5" required>
            <section class="photo-cover">
                <h3>Foto de portada del Juego</h3>
                <input type="file" name="avatar" accept="image/*">
            </section>
            <section class="launch">
                <h3>Fecha de Lanzamiento</h3>
                <input type="date" name="launch" id="launch" min="2023-08-01" max="2045-01-01" required>
            </section>
            <section class="launch">
                <h4>Modificar Descripcion</h4>
                <input type="text" name="address" id="address" class="controls" placeholder="Descripcion">
            </section>
            <section class="user-profile">
                <h3>Categoría</h3>
                <div>
                    <input type="radio" name="type" value="type" id="type">
                    <label for="type">Accion</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Deportes</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Sandbox</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">MMO</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Estrategia</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Aventura</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Shooter</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">RPG</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Survival</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Terror</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Arcade</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Minijuegos</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Cartas</label>
                </div>
                <div>
                    <input type="radio" name="user-profile" value="buy" id="buyer" checked>
                    <label for="buyer">Otro</label>
                </div>
            </section>
            <input type="text" name="other-game" id="other-game" class="controls" placeholder="Otro tipo" minlength="6"
                required>
            <h3>Precio</h3>
            <input type="text" name="price" id="price-product" class="controls" placeholder="Precio" minlength="5" required>
    
            <section class="buttons">
                <button type="submit">ENVIAR</button>
                <input type="reset" name="cancel" value="Cancelar" id="cancel">
            </section>
        -->
    <section class="containerf">
      <div class="form-container">
        <h1>Agregar Productos</h1>
        <form action="/products/create" method="POST" class="form" enctype="multipart/form-data" -->
          <div class="input-box">
            <label for="name">Nombre del Juego</label>
            <input type="text" name="name" id="name" placeholder="Ingrese el nombre" required>
          </div>

          <div class="input-box">
            <label for="description">Descripción</label>
            <textarea name="description" id="description" required></textarea>
          </div>


          <div class="gender-box">
            <h3>Plataformas</h3>
            <div class="gender-option">

              <div class="gender">
                <input type="checkbox" name="platforms" id="nintendoSwitch" value="nintendoSwitch" checked>
                <label for="nintendoSwitch">Nintendo Switch</label>
              </div>

              <div class="gender">
                <input type="checkbox" name="platforms" id="playStation4" value="playStation 4">
                <label for="playStation4">Playstation 4</label>
              </div>

              <div class="gender">
                <input type="checkbox" name="platforms" id="xboxOne" value="Xbox One">
                <label for="xboxOne">Xbox One</label>
              </div>

              <div class="gender">
                <input type="checkbox" name="platforms" id="pc" value="PC">
                <label for="pc">PC</label>
              </div>

              <div class="gender">
                <input type="checkbox" name="platforms" id="dispositivosMoviles">
                <label for="dispositivosMoviles">Dispositivos</label>
              </div>

            </div>
          </div>

          <div class="column">
            <div class="input-box">
              <label for="releaseDate">Fecha de Lanzamiento</label>
              <input type="date" name="releaseDate" id="releaseDate" placeholder=" Ingrese su fecha de
                              Lanzamiento" required>
            </div>
          </div>

          <div class="input-box">
            <label for="name">Almacenamiento requerido</label>
            <input type="text" name="storage" placeholder="Ingrese el almacenamiento requerido" id="storage" required>
          </div>



          <div class="input-box">
            <label for="images">Seleccionar Imagen del juego</label>
            <input type="file" name="images" id="images" accept=".jpg, jpeg, .png" required>
          </div>



          <div class="input-box address">
            <div class="column">
              <div class="select-box">
                <select name="genre" id="genre">
                  <option hidden>Genero</option>
                  <option value="Acción">Acción</option>
                  <option value="Deportes">Deportes</option>
                  <option value="Estrategia">Estrategia</option>
                  <option value="Disparos">Disparos</option>
                  <option value="Aventura">Aventura</option>
                  <option value="Survival">Survival</option>
                  <option value="Terror">Terror</option>
                </select>
              </div>
              <input type="text" name="price" id="price" placeholder="Ingrese el precio del juego" required>
            </div>

            <div class="column">
              <input type="text" name="os" id="os" placeholder="Ingrese el sistema operativo" required>
              <input type="text" name="downloadSize" id="downloadSize" placeholder="Ingrese el tamaño de Descarga"
                required>
            </div>


          </div>

          <button>Agregar Producto</button>
        </form>
      </div>
    </section>


    <%- include('../partials/footer') %>
      <script src="/js/validations.js"></script>
</body>

</html>