<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpaca Games</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" />
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header id="showcase">
        <div class="container">
            <div class="showcase-container">
                <div class="showcase-content">
                    <div class="category category-sports">Adventure</div>
                    <h1>Resident Evil 8</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Molestias repellat qui, blanditiis deserunt nihil a! Hic
                        excepturi sint accusantium officiis, et quo voluptas quasi
                        itaque ea maxime delectus nostrum porro.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
    </header>


    <main class="container-cases">
        <div id="cases">
            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1s.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>
        </div>
    </main>


    <!-- Footer -->
    <footer id="main-footer" class="py-2">
        <div class="container footer-container">
            <div>
                <div class="img-logo">
                    <img src="/img/bv.jpg" alt="NewsGrid">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Facere unde dolorum explicabo, dolores omnis rem voluptatem esse placeat sit delectus!</p>
            </div>
            <div>
                <h3>Email Newsletter</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <form>
                    <input type="email" placeholder="Enter Email...">
                    <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
            </div>

            <div>
                <h3>Site Links</h3>
                <ul class="list">
                    <li><a href="#">Help & Support</a></li>
                    <li><a href="#">Privacy & Policy</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div>
                <h2>Join Out Club</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, vero!</p>
                <a href="#" class="btn btn-primary">Join Now</a>
            </div>

            <div>
                <p>
                    Copyright &copy; 2023, All Rights Reeserved
                </p>
            </div>
        </div>
    </footer>


</body>

</html>