<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="/ALPACA GAMES/public/css/stylesDetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <section class="haeder-section1">
        <div class="burger-menu">
            <i class="fa-solid fa-bars" id="burger-menu"></i>
        </div>
        <div class="logo">
            <h2>LOGO</h2>
        </div>
        <div class="user-option">
            <i class="fa-solid fa-user" id="user-option"></i>
        </div>
    </section>
    <section class="search-bar">
    <input type="text" class="bar-search" placeholder="Buscar productos, generos"/>
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </section>
    <section class="directorio">
        <h5>directorio</h5>
    </section>
    </header>
    <main>
        <article class="producto-user">
        <section class="image-product">
            <img src="/ALPACA GAMES/public/images/producto-AgeOfEmpires.jpg" width="300px">
            <div class="carousel">
                <h3>imagen</h3>
            </div>
            <h4>PRECIO</h4>
        </section>    
        <section class="section-button">            
            <button class="buy-now">Comprar</button>
            <button class="gift-button">regalar</button>
            <button>Añadir a lista de deseados</button>
            <button>regalar a un amig@</button>
        </section>
        </article>
        <section>
            <h4>detalles del producto</h4>
        </section>
    </main>
    <footer>
        <p>
            detalles del juego (histora, lore, carecteristicars, etc)
        </p>
    </footer>
</body>
</html>