<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <%- include('../partials/search-bar.ejs') %>

    <article id="showcase">
        <div class="container">
            <div class="showcase-container">
                <div class="showcase-content">
                    <div class="category category-sports">Adventure</div>
                    <h1>Resident Evil 8</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Molestias repellat qui, blanditiis deserunt nihil a! Hic
                        excepturi sint accusantium officiis, et quo voluptas quasi
                        itaque ea maxime delectus nostrum porro.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
    </article>

    <main class="container-cases">
        <div id="cases">
            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>