<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpaca Games</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/footer.css">

</head>

<body>

    <main class="container-cases">
        <div id="cases">
            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/drow.png" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>

            <div class="item">
                <img src="/img/tlou1.jpg" alt="">
                <div class="text-item">
                    <h4>Lorem, ipsum dolor.</h4>
                </div>
            </div>
        </div>
    </main>

</body>

</html>