<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"/>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/stylesRegister.css">

    <title>Registrate</title>
</head>
<body>
    <header>
    </header>
    <main>
        <form action="" method="post">
            <h3>Registrarse</h6>
            <input type="text" name="firstName" id="firstName" placeholder="Nombre" required>
            <input type="text" name="lastName" id="lastName" placeholder="Apellido" required>
            <input type="text" name="displayName" id="displayName" placeholder="Nombre de usuario">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <div>
                <h4>Por favor, introduzca su fecha de nacimiento</h4>
                <label for="dia">Dia</label>
                <select name="dia" id="dia" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                <label for="mes">Mes</label>
                <select name="mes" id="mes">
                    <option value="enero">Enero</option>
                    <option value="febrero">Febrero</option>
                    <option value="marzo">Marzo</option>
                    <option value="abril">Abril</option>
                    <option value="mayo">Mayo</option>
                    <option value="junio">Junio</option>
                    <option value="julio">Julio</option>
                    <option value="agosto">Agosto</option>
                    <option value="septiembre">Septiembre</option>
                    <option value="octubre">Octubre</option>
                    <option value="noviembre">Noviembre</option>
                    <option value="diciembre">Diciembre</option>
                </select>
                <label for="anio">
                    Año
                <input type="number" name="anio" id="anio" maxlength="4" required>
                </label>
                <label for="pais">
                    Pais
                    <select name="pais" id="pais">
                        <option value="argentina">Argentina</option>
                        <option value="bolivia">Bolivia</option>
                        <option value="brasil">Brasil</option>
                        <option value="chile">Chile</option>
                        <option value="mexico">Mexico</option>
                        <option value="paraguay">Paraguay</option>
                        <option value="peru">Perú</option>
                        <option value="uruguay">Uruguay</option>
                    </select>
                </label>
                <label for="oferta-correo">
                    <input type="checkbox" name="oferta-correo" id="oferta-correo">
                    <span>
                        El correo de la cuenta recibirá ofertas especiales, noticias y demás de AlpacaGames Entertainment.
                    </span>
                </label>
                <label for="pol-privacidad">
                    <input type="checkbox" name="pol-privacidad" id="pol-privacidad">
                    <span>
                        He leido y acepto lo siguiente: 
                        <a href="#">Politica de privacidad en línea de Alpaca Games Entertainment</a>
                    </span>
                </label>
            </div>
        </form>
    </main>
</body>
</html>