<header>
    <a href="/"><img class="logo-header" src="/img/Alpaca-celu.svg" alt="logo"></a>

    <a class="link-header detail-header" href="/detail">Productos</a>
    <a class="link-header login-header" href="/login">Login</a>
    <a class="link-header register-header" href="/register">Registro</a>

    <a href="" class="icon-user"><i class="fa-solid fa-user-astronaut"></i></a>
</header>