*{
    background-color: black;
    font-family: 'Roboto';
    color: white

}



.producto-user{
    text-align: center;
    border: solid rgb(137, 15, 15) 3px;
}
.section1{
    display: flex;
}
/*colors-and-styles*/

.burger-menu{
   background-color: white;
   color: white;
}