*{
    font-family: 'Roboto';
    background-color: rgb(101, 98, 98);
    color: white;
}
/*position-flexbox*/
.haeder-section1{
    display: flex;
    
}
.section-part{
    display: flex;
    margin: auto;
}
.burger-menu{
    display: flex;
    margin: auto;
    margin-left: 20px;
}
.user-option{
    display: flex;
    margin: auto;
    margin-right: 20px;
}
/*colors-and-styles*/
.producto-user{
    text-align: center;
    border: solid white 3px;
}
.search-bar{
    display: block;
    margin: auto;
}
.bar-search{
    width: 340px;
    margin: auto;
    text-align: left;
    padding: 5px;
    background-color: white;
    font-size: 10px;
}
/*icons*/

#burger-menu{
    color: blue;
    font-size: 20px;
}
#user-option{
    color: blue;
    font-size: 20px;
}