<nav id="search-nav-bar">
    <form class="search-bar">
        <button type="button" class="btn-search"><i class="fa-solid fa-magnifying-glass lupa"></i></button>
        <input type="search" name="search" id="search" placeholder="Buscar en la tienda" autocomplete="off">
    </form>
    
    <a href="#" class="wishList">Lista de deseos</a>
    <i class="fa-regular fa-circle-check icon-wishList"></i>
    <a href="/:id/shop" class="cart">Carrito</a>
    <i class="fa-solid fa-cart-shopping icon-cart"></i>
</nav>