<nav id="search-nav-bar">
    <form class="search-bar" method="get" action="/products/search">
        <button type="button" class="btn-search"><i class="fa-solid fa-magnifying-glass lupa"></i></button>
        <input type="search" name="search" id="search" placeholder="Buscar en la tienda" autocomplete="off">
    </form>

</nav>