* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #15171E;
    color: white;
    font-family: "roboto";
}
main {
    display: flex;
    margin: 20px auto 70px;
    flex-wrap: wrap;
    padding: 15px;
}

h2 {
    width: 100%;
    margin: 10px 0 25px;
}

@media (min-width: 769px) {
    main {
        max-width: 1000px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
    }
}