* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #15171E;
    color: white;
    font-family: "roboto";
}

header {
    display: flex;
    background-color: #222429;
    width: 100%;
    justify-content: space-between;
}

.logo-header {
    width: 100px;
    /* margin: 10px; */
    padding: 10px;
}

.material-symbols-outlined {
    color: white;
    font-size: 4rem;
    margin: auto 10px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

main {
    display: flex;
    margin: 20px auto 70px;
    flex-wrap: wrap;
    padding: 15px;
}

h2 {
    width: 100%;
    margin: 10px 0 25px;
}

.pay-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pay-info label {
    width: 100%;
    font-size: 15px;
    color: #D9D9D9;
}

#pay-method {
    width: 100%;
    margin: 10px 0;
    background-color: #111218;
    color: white;
    padding: 15px;
    outline: 0;
    border: 2px solid rgba(250, 250, 250, 0.3);
    border-radius: 4px;
    font-size: 1rem;
}

#pay-method:hover {
    border: 2px solid rgba(250, 250, 250, 1);
}

#pay-method:focus {
    border: 2px solid #0074E0;
}

.pay-info p, .pay-info p a {
    font-size: 15px;
    color: #5A5A5A;
    text-align: justify;
}

.pay-info input {
    border: 2px solid #0000;
    width: 90%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto 0;
}

.acept {
    background-color: #0074E0;
    color: white;
}

.cancel {
    background-color: #474747;
    color: white;
}

.acept:hover, .cancel:hover {
    border: 2px solid rgba(250, 250, 250, 0.5);
    cursor: pointer;
}

.warning {
    display: flex;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    border: 1px solid rgba(250, 250, 250, 0.1);
    margin: 10px auto;
    border-radius: 3px;
    justify-content: center;
    padding: 10px 0;
}

.warning p, .warning i {
    color: white;
    font-size: 1rem;
}

.resume-product {
    display: flex;
    margin: 0 0 30px;
    width: 100%;
    flex-wrap: wrap;
}

.img-product {
    margin: auto;
    width: 50%;
    border-radius: 10px;
}

.name-product {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    margin: 10px auto 0;
}

.name-seller {
    width: 100%;
    font-size: 18px;
    color: #5A5A5A;
}

.calc-PriceDesc {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 15px auto;
    justify-content: space-between;
}

.text-price, .text-desc {
    width: 50%;
}

.price, .desc {
    width: 50%;
    text-align: end;
}

.calc-total {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

#checkbox {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.resume-product label {
    padding-left: 50px;
    text-align: justify;
}

#confirm-email {
    /* width: 32px;
    height: 32px; */
    width: 2rem;
    height: 2rem;
    position: absolute;
}

.help {
    text-align: center;
    width: 100%;
    margin: 15px auto;
}

.help a {
    color: white;
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.parting-line {
    width: 100%;
    height: 1px;
    border-width: 0;
    background-color: rgba(250, 250, 250, 0.2);
}

.logo-footer {
    width: 20%;
    margin: 25px auto;
}

.info {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.info a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.info hr {
    border-width: 1px;
    height: 1.3rem;
    margin: auto 0;
}

.redes {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 10px;
}

.redes a{
    color: white;
    padding: 10px;
}

.legal-terms {
    width: 100%;
    margin: 20px 0;
}

@media (min-width: 769px) {
    main {
        max-width: 1000px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .resume-product {
        width: 50%;
        order: 1;
        flex-grow: 1;
        margin: auto;
    }
    
    .pay-info {
        width: 30%;
        flex-grow: 1;
        margin: auto 0;
    }

    main::after {
        content: "";
        display: block;
        width:1px;
        height: auto;
        background-color: white;
        margin: 0 40px;
    }

}