*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*position-flexbox*/

body {
    font-family: 'Roboto';
    background-color: rgb(101, 98, 98);
    color: white;
}

.haeder-section1{
    display: flex;
    margin: auto;
}
.burger-menu{
    display: flex;
    margin: auto;
    margin-left: 20px;
}
.user-option{
    display: flex;
    margin: auto;
    margin-right: 20px;
}

.section-button{
    display: flex;
    margin-right: 100px;
}
.directory{
    margin-left: 35px;
}

.header-product{
    display: flex;
  
    border: blue 5px;
}
/*colors-and-styles*/
.producto-user{
    text-align: center;
}

.image-product{
    display: flex;
    margin: 25px 0px 25px 15px;
}

.image-product img{
    border: solid rgb(99, 99, 168) 6px;
}

.bar-search{
    width: 340px;
    margin: auto;
    text-align: left;
    padding: 5px;
    background-color: white;
    font-size: 10px;
}
/*buttons*/
.buy-now{
    display: block;
    width: 100px;
    background-color: rgb(71, 71, 167);
    padding: 10px;
    margin: auto;
    margin-left: 0px;
    font-size: 20px;
    text-align: left;
}
.gift-button{
    display: block;
    width: 80px;
    background-color: rgb(126, 126, 255);
    padding: 10px;
    margin: auto;
    margin-left: 0px;
    font-size: 20px;
}
/*icons*/

#burger-menu{
    color: blue;
    font-size: 30px;
}
#user-option{
    color: blue;
    font-size: 30px;
}

/*texts*/
.info-app{
    display: flex;
}

.info-product{
    border: solid 3px gainsboro;
}
.price-product{
    width: 300px;
    color:rgb(28, 183, 240);
    display: block;
    text-align: justify;
    align-items: flex-start;
    margin: 80px 0px 0px 15px;
}