* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    border: 1px solid black;
    height: 555px;
    background-color: black;
    font-family: 'Roboto';
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#hamburguesa{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 25px;
}
#hamburguesa:hover{
    box-shadow: 0 0 10px white;
}
#user{
    border: 7px solid white;
    border-radius: 50%;
    background-color: white;
    text-align: right;
    color: rgb(95, 95, 95);
    position: absolute;
    right: 8px;
    top: 8px;
}
#user:hover{
    box-shadow: 0 0 10px white;
}
.barra{
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.mensaje-1{
    background-color: grey;
    height: 18px;
    text-align: center;
    font-family:'Roboto';
    font-weight: bold;
}
.usuario{
    text-align: right;
}
.caja-email{
    display: block;
    text-align: center;
}
input[type=email]{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 15px;
    font-family:'Roboto';
    font-weight: bold;
}
input:hover[type=email]{
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.caja-contraseña{
    display: block;
    text-align: center;
}
input[type=password]{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 15px;
    font-family:'Roboto';
    font-weight: bold;
}
input:hover[type=password]{
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.iniciar-sesion{
    display: block;
    text-align: center;
}
button[type="submit"]{
    background-color: blue;
    width: 309px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}
button:hover[type="submit"]{
    box-shadow: 0 0 10px white;
}
#mensaje-3{
    color: white;
    text-decoration: none;
    font-family:'Roboto';
    font-weight: bold;
}
.caja-mensaje-4{
    text-align: center;
    margin-bottom: 10px;
}
#mensaje-4{
    color: blue;
    text-decoration: none;
    font-family:'Roboto';
    font-weight: bold;
}
#mensaje-4:hover{
    box-shadow: 0 0 10px white;
    background-color: white;
    border-radius: 10px;
}
.caja-mensaje-5{
    text-align: center;
}
#mensaje-5{
    color: blue;
    font-family:'Roboto';
    font-weight: bold;
}
#mensaje-5:hover{
    box-shadow: 0 0 10px white;
    background-color: white;
    border-radius: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: gray;
    height: 100px;
    position: fixed;
    bottom: 0.0000001px;
}
.conteiner-otros{
    background-color: black;
    height: 285px;
}
.conteiner-logo{
    background-color: rgb(179, 179, 179);
    border: 1px solid rgb(179, 179, 179);
    width: 250px;
    height: 70px;
    display: block;
    text-align: center;
    position: relative;
    top: 20px;
}
#logo-AG{
    width: 250px;
    height: 70px;
}
.conteiner-logo-facebook{
    display: inline;
    margin-top: 5px;
    margin-right: 50px;
    width: 41px;
    height: 41px;
    background-color: white;
    border-radius: 5px;
    border:1px solid white;
    color:rgb(0, 0, 0);
}
.conteiner-mensaje{
    background-color: rgb(179, 179, 179);
    height: 30px;
    width: 200px;
    border: 1px solid rgb(179, 179, 179);
    position: relative;
    top: 30px;

}
.conteiner-logo-google{
    display: inline;
    margin-top: 5px;
    margin-right: 50px;
    width: 41px;
    height: 41px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
}
.conteiner-logo-chrome{
    display: inline;
    margin-top: 5px;
    margin-right: 50px;
    width: 41px;
    height: 41px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
}
.conteiner-logo-twitter{
    display: inline;
    margin-top: 15px;
    margin-right: 50px;
    width: 41px;
    height: 41px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
}
.conteiner-logo-instagram{
    display: inline;
    margin-top: 15px;
    margin-right: 50px;
    width: 41px;
    height: 41px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
}
.conteiner-logo-spotify{
    display: inline;
    margin-top: 15px;
    margin-right: 50px;
    width: 41px;
    height: 41px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
}
h3{
    color: black;
    position: relative;
    top: 2px;
    font-family:'Roboto';
    font-weight: bold;
}
#logos-redes{
    font-size: 40px;

}
#logos-redes:hover{
    box-shadow: 0 0 10px white;
}
.conteiner-logos-redes{
    position: relative;
    top: 30px;
    display: flex;
    margin: 1px solid rgb(214, 0, 0);
    width: 230px;
    height: 100px;
    margin-top: 10px;
}
.conteiner-logos-redes-1{
    position: relative;
    bottom: 30px;
    display: flex;
    margin: 1px solid rgb(214, 0, 0);
    width: 236px;
    height: 100px;
    margin-top: 10px;
}
.conteiner-mensaje-2{
    text-align: center;
    background-color: black;
    position: relative;
    bottom: 20px;
}
.mensaje-2{
    color: white;
}
.conteiner-login{
    background-color: black;
    height: 300px;
}
#mensaje-6{
    text-align: center;
    justify-content: center;
    flex: 1;
}
.class-footer{
    position: relative;
    top: 30px;
    border-radius: 1px solid white;

}
@media(max-width: 700px){
    footer{
        position: relative;
        bottom: 50px;
    }
}