:root {
    --primary-color: #00A6E6;
    --secundary-color: #5A5A5A;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
    --white-color: #fff;

}

.category {
    --sports-color: #f99500;
    --end-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background: #15171E;
}

img {
    width: 100%;
}

p {
    margin: .5rem 0;
}

a {
    text-decoration: none;
}

/* Utilities */


.btn-light {
    background: var(--light-color);
}

.btn-secundary {
    background: var(--secundary-color);
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.category-end {
    background: var(--end-color);
}

.category-tech {
    background: var(--tech-color);
}

#cases {
    margin: 0 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


#cases .item {
    margin: 15px 15px;
    background: #313339;
    height: 500px;
}

#cases img {
    height: 65vh;

}

#cases .text-item h4 {
    font-size: 1.2rem;
    color: var(--white-color);
    text-align: center;
}

@media(max-width:600px) {
    /* Stack grid items */
    #cases {
        margin: auto;
        max-width: 1100px;
        padding: 0 2rem;
        overflow: hidden;
        grid-template-columns: 1fr;
    }

}