:root {
    --primary-color: #00A6E6;
    --secundary-color: #5A5A5A;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
    --white-color: #fff;

}

.category {
    --sports-color: #f99500;
    --end-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* line-height: 1.5; */
    background: #15171E;
}

img {
    width: 100%;
}

.showcase-content p {
    margin: .5rem 0;
}

a {
    text-decoration: none;
}

/* Utilities */

.btn {
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: var(--dark-color);
    color: #fff;
    padding: 0.3rem 1.2rem;
}

.btn-primary {
    background: var(--primary-color);
}

.btn-light {
    background: var(--light-color);
}

.btn-secundary {
    background: var(--secundary-color);
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.category-sports {
    background: var(--sports-color);
}

#showcase {
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;
}

#showcase:before {
    content: '';
    background: url('../img/resident8.webp') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#showcase .showcase-content {
    z-index: 1;
}

#showcase .showcase-container p {
    margin-bottom: 1rem;
}

.category-end {
    background: var(--end-color);
}

.category-tech {
    background: var(--tech-color);
}

#cases {
    margin: 0 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


#cases .item {
    margin: 15px 15px;
    background: #313339;
    height: 500px;
}

#cases img {
    height: 65vh;

}

#cases .text-item h4 {
    font-size: 1.2rem;
    color: var(--white-color);
    text-align: center;
}

@media(max-width:600px) {
    /* Stack grid items */
    #showcase .showcase-container,
    #cases {
        margin: auto;
        max-width: 1100px;
        padding: 0 2rem;
        overflow: hidden;
        grid-template-columns: 1fr;
    }
    .container-cases{
        margin-bottom: 20px;
    }   
}

@media (min-width:601px) {
    .container-cases{
        margin-bottom: 200px;
    }   
}