<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <!-- <header class="my-header">
    <section class="haeder-section1">
        <div class="burger-menu">
            <i class="fa-solid fa-bars" id="burger-menu"></i>
        </div>
        <div class="logo">
            <h2>LOGO</h2>
        </div>
        <div class="user-option">
            <i class="fa-solid fa-user" id="user-option"></i>
        </div>
    </section>
    <section class="search-bar">
    <input type="text" class="bar-search" placeholder="Buscar productos, generos"/>
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </section>
    <div class="directory">
        <h5>directorio</h5>
    </div>
</header> -->

<%- include('./partials/header') %>

    <main>
        <article class="producto-user">
        <section class="image-product">
            <img src="/ALPACAGAMES/public/img/producto-AgeOfEmpires.jpg" width="300px">
            <div class="carousel">
                <h3>imagenes del carrusel</h3>
            </div>
            <h4>PRECIO</h4><i class="fa-solid fa-gamepad"></i>  
        </section>    
        <section class="section-button">            
            <button class="buy-now">Comprar</button>
            <button class="gift-button">regalar</button>
        </section>
        <section>
            <article class="info-product">
                <div>
                    <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque 
                    earum adipisci! Necessitatibus magnam laboriosam iste expedita repellendus numquam rem neque corrupti modi quam, beatae nulla totam natus, asperiores blanditiis.
                    </p>
                </div>
                
            </article>
        </section>
        </article>
        <section>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>