<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesLogin.css" />
  </head>

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="conteiner-all">
        <marquee>Formulario de Login</marquee>
        <div class="conteiner-logo">
          <img src="/img/Alpaca-celu.svg" alt="logo" id="logo-AG" />
        </div>
        <a class="mensaje-2">INICIA SESION</a>
        <form action="/users/login" method="POST">
          <class class="caja-email">
            <div class="label">
              <label for="email" id="label">Correo electrónico</label>
            </div>
            <input
              type="email"
              name="email"
              placeholder="Ingrese un correo electrónico"
              class="email"
              id="email"
            />

            <%if(locals.errors && errors.email) { %>
            <div class="container-error-email"><%= errors.email.msg%></div>
            <% } %>
          </class>
          <class class="caja-contraseña">
            <div class="label">
              <label for="password" id="label">Contraseña</label>
            </div>
            <input
              type="password"
              name="password"
              placeholder="Contraseña"
              id="password"
            />
          </class>
          <div class="iniciar-sesion">
            <button type="submit">Iniciar sesion</button>
            <div class="rememberMe">
              <label for="rememberMe" id="label">Recuerdame</label>
              <input type="checkbox" name="rememberMe" />
            </div>
          </div>
        </form>
        <div class="caja-mensaje-4">
          <a href="/register" id="mensaje-4">Crea una cuenta gratis</a>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/validationsLogin.js"></script>
  </body>
</html>
